  .navbar {
    transition: all .2s;
    height: 4rem;
    padding: 0;
  }
  
  .fixed-top {
    z-index: 1;
  }

  .navbar-nav {
    transition: all .3s;
  }

  .navbar-toggler {
    border:none;
  }
  
  .designer-name, .title, .nav-link {
    padding:0;
    margin:0;
  }

  .nav-item {
    padding:8px 13px;
    margin:0;
    font-size: 1.25rem;
    /* width:auto; */
  }
  
  .designer-name {
    letter-spacing: 4px;
  }

  .designer-icon {
    margin: 0;
  }

  .designer-info {
    transition:all 0.3s;
  }
  
  .overflow-hidden {
    overflow:hidden;
  }
  
  .side-footer {
    position: fixed;
    right:-300px;
    bottom:0;
    transition:0.4s;
  }

  .home-link, .home-link:hover, .nav-link {
    color: #2b2b2b;
    text-decoration:none;
  } 
  
  #side-menu {
    display:none;
    position:fixed;
    width:300px;
    top:0;
    right:-300px;
    height:100%;
    overflow-y:auto;
    z-index:1080;
    background:#fff;
    padding:16px 30px;
    color:#4a4a4a;
    transition:0.4s;
  }
  
  .side-menu-visible #side-menu {
    transform:translateX(-300px);
  }
  
  .side-menu-visible .side-footer {
    transform:translateX(-300px);
  }
  
  #side-menu .contents {
    /* margin-top: 50px; */
    position: absolute; 
    top: 50%;  
    transform: translateY(-50%);
  }
  
  #side-menu .nav-link {
    color:#4a4a4a;
  }
  
  #side-menu .nav-link:hover {
    opacity:0.8;
  }
  
  #side-menu .close {
    font-size:36px;
    font-weight:normal;
  }
  
  #side-menu .dropdown-item{
    padding:4px 16px;
  }
  
  .side-menu-overlay {
    position:fixed;
    left:0;
    top:0;
    min-width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
    z-index:1050;
    display:none;
    -webkit-animation: fade-in 0.5s;
    animation: fade-in 0.5s;
  }
  
  #side-menu.side-menu-left {
    right:auto;
    left:-300px;
  }
  
  #side-menu .navbar-nav{
    top:50%;
  }

  #side-menu .nav-item{
    padding:.5rem 0;
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  .side-menu-visible #side-menu.side-menu-left {
    transform:translateX(300px);
  }
  
  .dropdown-menu.mobile {
    display:block;
    padding-bottom: 0;
  }
  
  .dropdown-menu {
    margin:0 auto;
    border:none;
  }

  .dropdown-item {
    color:#000;
    font-size: 1.25rem;
  }

  .footer {
    width: 100%;
    height: 4rem;
    border-top: 1px solid #E2E2E3;
  }

  .footer-container .copyright {
    color: #9A9FA5;
    line-height: .5rem;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    padding: .5rem 0;
  }

  .footer-text {
    padding: 0 1.5rem;
    width: 100%;
  }

  .footer .row {
    padding-left: 2rem;
    padding-right: 0;
  }

  .social-contact {
    padding: 0;
    justify-content: center;
  }

  .loader {
    top: 0;
    position: fixed;
    z-index: 999999;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 1.5s ease;
    background-color: #fff;
  }

  .scaleOut {
    transform: scaleX(1.5);
    opacity:0;
  }

  #wave {
    height: 170px;
    width: 170px;
    fill: #000;
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
  }
  
  
  #Line_1 {
    animation: pulse 1s infinite;
    animation-delay: calc(1 * .15s);
  }
  
  #Line_2 {
    animation: pulse 1s infinite;
    animation-delay: calc(2 * .15s);
  }
  
  #Line_3 {
    animation: pulse 1s infinite;
    animation-delay: calc(3 * .15s);
  }
  
  #Line_4 {
    animation: pulse 1s infinite;
    animation-delay: calc(4 * .15s);
  }
  
  #Line_5 {
    animation: pulse 1s infinite;
    animation-delay: calc(5 * .15s);
  }
  
  #Line_6 {
    animation: pulse 1s infinite;
    animation-delay: calc(6 * .15s);
  }
  
  #Line_7 {
    animation: pulse 1s infinite;
    animation-delay: calc(7 * .15s);
  }
  
  #Line_8 {
    animation: pulse 1s infinite;
    animation-delay: calc(8 * .15s);
  }
  
  #Line_9 {
    animation: pulse 1s infinite;
    animation-delay:calc(9 * .15s);
  }
  
  @keyframes pulse {
    0% {
      transform: scaleY(1);
      transform-origin: 50% 50%;
    }
    
    50% {
      transform: scaleY(.7);
      transform-origin: 50% 50%;
    }
    
    100% {
      transform: scaleY(1);
      transform-origin: 50% 50%;
    }
  }


  /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  
}
  
/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  
}

@media (max-width: 992px) {

  .dropdown-item:hover {
    background-color:#fff;
    color: #9A9FA5;
  }
  .navbar {
    background-color: rgba(255,255,255,.98);
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  .footer {
    height: 6rem;
  }

  .navbar {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
  
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .social-contact {
    justify-content: flex-end;
  }

  .footer-container .copyright {
    text-align: left;
  }

  .dropdown-item {
    color:#ffffff;
  }

  .dropdown:hover .dropdown-menu, .dropdown.hover .dropdown-menu {
    display:block;
    background: #000;
    border-radius: 0;
  }

  .dropdown-item:hover {
    background-color:#000;
    color:#fff;
    text-decoration: underline;
    text-decoration-style: dotted;
  }

  .nav-item:hover, .nav-item:hover .nav-link {
    background-color: #000;
    color: #fff;
    text-decoration:none;
  }

  .navbar.scroll-up {
    /* transform: translateY(-10px); */
    height: 40px;
    box-shadow: 0px 2px 40px 0px rgba(0,0,0,0.08);
    background-color: rgba(255,255,255,.98);
  }

  .navbar.scroll-up .designer-info{
    visibility:hidden;
    opacity:0;
  }

  .navbar.scroll-up .navbar-nav{
    position: absolute;
    left:50%;
    transform: translate(-50%, 0);
  }

}