  .social-buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: -10px;
  }
  .social-buttons__button {
    margin: 10px 5px 0;
  }
  
  .social-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 2.5rem;
    height: 2.5rem;
    text-decoration: none;
  }
  .social-button__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 100%;
    background: #fff;
    text-align: center;
  }
  .social-button i,
  .social-button svg {
    position: relative;
    z-index: 1;
    transition: 0.3s;
  }
  .social-button i {
    font-size: 1.25rem;
  }
  .social-button svg {
    height: 40%;
    width: 40%;
  }
  .social-button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    transform-origin: 50% 50%;
    display: block;
    width: 0;
    height: 0%;
    border-radius: 100%;
    transition: 0.3s;
  }

  .social-button:focus, .social-button:hover {
    text-decoration: none; 
  }

  .social-button--mail, .social-button--mail:active, .social-button--mail:focus, .social-button--mail:hover {
    color: #eec900;
  }
  .social-button--mail::after {
    background: #eec900;
  }
  .social-button--facebook {
    color: #3b5999;
  }
  .social-button--facebook::after {
    background: #3b5999;
  }
  .social-button--linkedin, .social-button--linkedin:active, .social-button--linkedin:focus, .social-button--linkedin:hover {
    color: #0077b5;
  }
  .social-button--linkedin::after {
    background: #0077b5;
  }
  .social-button--github, .social-button--github:active, .social-button--github:focus, .social-button--github:hover {
    color: #6e5494;
  }
  .social-button--github::after {
    background: #6e5494;
  }
  .social-button--codepen {
    color: #212121;
  }
  .social-button--codepen::after {
    background: #212121;
  }
  .social-button--steam {
    color: #7da10e;
  }
  .social-button--steam::after {
    background: #7da10e;
  }
  .social-button--snapchat {
    color: #eec900;
  }
  .social-button--snapchat::after {
    background: #eec900;
  }
  .social-button--twitter {
    color: #55acee;
  }
  .social-button--twitter::after {
    background: #55acee;
  }
  .social-button--instagram {
    color: #e4405f;
  }
  .social-button--instagram::after {
    background: #e4405f;
  }
  .social-button--npmjs {
    color: #c12127;
  }
  .social-button--npmjs::after {
    background: #c12127;
  }
  
  /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .social-button:focus, .social-button:hover {
    color:#fff;
  }

  .social-button:focus::after, .social-button:hover::after {
    width: 100%;
    height: 100%;
  }
}